---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const [first, second, third, ...rest] = posts;
---

<BaseLayout showHeader=true>
  <section class="mt-14">
    <h2 class="text-zinc-50 font-medium mb-2">Articles</h2>
    <ul>
      <li class="my-2">
        <a href={`/blog/${first.slug}/`} class="underline">
          {first.data.title}
        </a>
      </li>
      <li class="my-2">
        <a href={`/blog/${second.slug}/`} class="underline">
          {second.data.title}
        </a>
      </li>
      <li class="my-2">
        <a href={`/blog/${third.slug}/`} class="underline">
          {third.data.title}
        </a>
      </li>
      <details>
        <summary>More</summary>
        {
          rest.map((post) => (
            <li class="my-2">
              <a href={`/blog/${post.slug}/`} class="underline">
                {post.data.title}
              </a>
            </li>
          ))
        }
      </details>
    </ul>
  </section>
  <section class="mt-14">
    <h2 class="text-zinc-50 font-medium mb-2">Lists</h2>
    <ul>
      <li class="my-2">
        <a href={`/blog/${first.slug}/`} class="underline">
          {first.data.title}
        </a>
      </li>
      <li class="my-2">
        <a href={`/blog/${second.slug}/`} class="underline">
          {second.data.title}
        </a>
      </li>
      <li class="my-2">
        <a href={`/blog/${third.slug}/`} class="underline">
          {third.data.title}
        </a>
      </li>
      <details>
        <summary>More</summary>
        {
          rest.map((post) => (
            <li class="my-2">
              <a href={`/blog/${post.slug}/`} class="underline">
                {post.data.title}
              </a>
            </li>
          ))
        }
      </details>
    </ul>
  </section>
  <section class="mt-14">
    <h2 class="text-zinc-50 font-medium mb-2">Work Journal Entries</h2>
    <ul>
      <li class="my-2">
        <a href={`/blog/${first.slug}/`} class="underline">
          {first.data.title}
        </a>
      </li>
      <li class="my-2">
        <a href={`/blog/${second.slug}/`} class="underline">
          {second.data.title}
        </a>
      </li>
      <li class="my-2">
        <a href={`/blog/${third.slug}/`} class="underline">
          {third.data.title}
        </a>
      </li>
      <details>
        <summary>More</summary>
        {
          rest.map((post) => (
            <li class="my-2">
              <a href={`/blog/${post.slug}/`} class="underline">
                {post.data.title}
              </a>
            </li>
          ))
        }
      </details>
    </ul>
  </section>
</BaseLayout>
