---
import { getCollection } from "astro:content";
import FormattedDate from "./FormattedDate.astro";
import Link from "./Link.astro";
import CollapsibleList from "./CollapsibleList.astro";

interface Props {
  collection: "lists" | "field-notes";
}

const { collection } = Astro.props;

const posts = await getCollection(collection);

const sortedPosts = posts.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const firstThreePosts = sortedPosts.slice(0, 3);
const remainingPosts = sortedPosts.slice(3);

const collectionTitle =
  collection === "field-notes"
    ? "Field Notes"
    : collection.charAt(0).toUpperCase() + collection.slice(1);
---

<section class="mt-14" aria-labelledby={`${collection}-heading`}>
  <h2 id={`${collection}-heading`} class="text-zinc-50 font-medium mb-2">
    {collectionTitle}
  </h2>
  <nav aria-label={`${collectionTitle} articles`}>
    <ul>
      {
        firstThreePosts.map((post) => (
          <li class="my-2 flex items-baseline">
            <time
              datetime={post.data.pubDate.toISOString()}
              class="text-sm text-zinc-400 w-24 shrink-0"
            >
              <FormattedDate date={post.data.pubDate} />
            </time>
            <Link href={`/${collection}/${post.slug}/`}>{post.data.title}</Link>
          </li>
        ))
      }
      {
        remainingPosts.length > 0 && (
          <CollapsibleList title={`More (${remainingPosts.length})`}>
            <ul>
              {remainingPosts.map((post) => (
                <li class="my-2 flex items-baseline">
                  <time
                    datetime={post.data.pubDate.toISOString()}
                    class="text-sm text-zinc-400 w-24 shrink-0"
                  >
                    <FormattedDate date={post.data.pubDate} />
                  </time>
                  <Link href={`/${collection}/${post.slug}/`}>
                    {post.data.title}
                  </Link>
                </li>
              ))}
            </ul>
          </CollapsibleList>
        )
      }
    </ul>
  </nav>
</section>
