---
import { getCollection } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

interface Props {
  collection: "lists" | "notes" | "links";
}

const { collection } = Astro.props;

const posts = await getCollection(collection);

const sortedPosts = posts.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const firstThreePosts = sortedPosts.slice(0, 3);
const remainingPosts = sortedPosts.slice(3);
---

<section class="mt-14">
  <h2 class="text-zinc-50 font-medium mb-2">
    {collection.charAt(0).toUpperCase() + collection.slice(1)}
  </h2>
  <ul>
    {
      firstThreePosts.map((post) => (
        <li class="my-2 flex items-baseline">
          <span class="text-sm text-zinc-400 w-24 shrink-0">
            <FormattedDate date={post.data.pubDate} />
          </span>
          <a
            href={`/${collection}/${post.slug}/`}
            class="underline hover:text-zinc-50"
          >
            {post.data.title}
          </a>
        </li>
      ))
    }
    {
      remainingPosts.length > 0 && (
        <details>
          <summary>More</summary>
          <ul>
            {remainingPosts.map((post) => (
              <li class="my-2 flex items-baseline">
                <span class="text-sm text-zinc-400 w-24 shrink-0">
                  <FormattedDate date={post.data.pubDate} />
                </span>
                <a
                  href={`/${collection}/${post.slug}/`}
                  class="underline hover:text-zinc-50"
                >
                  {post.data.title}
                </a>
              </li>
            ))}
          </ul>
        </details>
      )
    }
  </ul>
</section>
