---
import { getCollection } from "astro:content";

interface Props {
  collection: "lists" | "journal" | "links";
}

const { collection } = Astro.props;

const posts = await getCollection(collection);

const sortedPosts = posts.sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);

const highlights = sortedPosts.filter((post) => post.data.highlight);
const nonHighlightPosts = sortedPosts.filter((post) => !post.data.highlight);
---

<section class="mt-14">
  <h2 class="text-zinc-50 font-medium mb-2 capitalize">{collection}</h2>
  <ol class="list-decimal list-inside">
    {
      highlights.map((highlight) => (
        <li class="my-2">
          <a
            href={`/${collection}/${highlight.slug}/`}
            class="underline hover:text-zinc-50"
          >
            {highlight.data.title}
          </a>
        </li>
      ))
    }
    {
      nonHighlightPosts.length > 0 && (
        <details>
          <summary>More</summary>
          {nonHighlightPosts.map((post) => (
            <li class="my-2">
              <a
                href={`/${collection}/${post.slug}/`}
                class="underline hover:text-zinc-50"
              >
                {post.data.title}
              </a>
            </li>
          ))}
        </details>
      )
    }
  </ol>
</section>
