---
import { getCollection } from "astro:content";

interface Props {
  collection: "lists" | "journal" | "links";
}

const { collection } = Astro.props;

const posts = await getCollection(collection);

const sortedPosts = posts.sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);

const firstThreePosts = sortedPosts.slice(0, 3);
const remainingPosts = sortedPosts.slice(3);
---

<section class="mt-14">
  <h2 class="text-zinc-50 font-medium mb-2">
    {collection.charAt(0).toUpperCase() + collection.slice(1)}
  </h2>
  <ol class="list-decimal list-inside">
    {
      firstThreePosts.map((post) => (
        <li class="my-2">
          <a
            href={`/${collection}/${post.slug}/`}
            class="underline hover:text-zinc-50"
          >
            {post.data.title}
          </a>
        </li>
      ))
    }
    {
      remainingPosts.length > 0 && (
        <details>
          <summary>More</summary>
          {remainingPosts.map((post) => (
            <li class="my-2">
              <a
                href={`/${collection}/${post.slug}/`}
                class="underline hover:text-zinc-50"
              >
                {post.data.title}
              </a>
            </li>
          ))}
        </details>
      )
    }
  </ol>
</section>
