---
import BaseHead from "@components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION, AUTHOR } from "@consts";
import Link from "@components/Link.astro";
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
  type?: "website" | "article";
  publishedTime?: string;
  modifiedTime?: string;
  author?: string;
}

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  type = "website",
  publishedTime,
  modifiedTime,
  author,
} = Astro.props;

const today = new Date();
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      image="/images/social-share.png"
      type={type}
      publishedTime={publishedTime}
      modifiedTime={modifiedTime}
      author={author}
    />
    <script is:inline defer src="https://assets.onedollarstats.com/stonks.js"
    ></script>
  </head>
  <body
    class="mt-14 mx-auto px-6 max-w-(--breakpoint-sm) bg-zinc-900 text-zinc-300 text-lg font-light"
  >
    <slot name="header" />
    <main>
      <slot />
    </main>
    <footer class="my-14">
      <div>
        <Link href={AUTHOR.linkedin} external> LinkedIn </Link>
      </div>
      &copy; {today.getFullYear()}
      {AUTHOR.name}. All rights reserved.
    </footer>
  </body>
</html>
