---
import BaseHead from "@components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION, AUTHOR } from "@consts";
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;

const today = new Date();
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      image="/images/social-share.png"
    />
    <script is:inline defer src="https://assets.onedollarstats.com/stonks.js"
    ></script>
  </head>
  <body
    class="mt-14 mx-auto px-6 max-w-(--breakpoint-sm) bg-zinc-900 text-zinc-300 text-lg font-light"
  >
    <slot name="header" />
    <main>
      <slot />
    </main>
    <footer class="my-14">
      <div>
        <a
          href={AUTHOR.linkedin}
          target="_blank"
          class="underline hover:text-zinc-50"
          >LinkedIn
        </a>
      </div>
      &copy; {today.getFullYear()}
      {AUTHOR.name}. All rights reserved.
    </footer>
  </body>
</html>
